<form
  *ngIf="form"
  [formGroup]="form"
  (submit)="operate()"
  class="relative flex flex-col gap-3 w-full p-3 rounded bg-[#034561]"
>
  <div [hidden]="true">
    <label for="id_role" class="text-white font-extrabold">Id</label>
    <input
      matInput
      placeholder="id"
      formControlName="id_role"
      class="outline-none w-full rounded p-2 bg-[#128494] focus:text-white"
    />
  </div>

  <label for="name" class="text-white font-extrabold">Nombre</label>
  <input
    matInput
    placeholder="name"
    formControlName="name"
    class="outline-none w-full rounded p-2 bg-[#128494] focus:text-white"
  />

  <label for="description" class="text-white font-extrabold">Descripción</label>
  <input
    matInput
    placeholder="description"
    formControlName="description"
    required
    class="outline-none w-full rounded p-2 bg-[#128494] focus:text-white"
  />

  <div class="flex flex-wrap justify-center-safe gap-2 w-full">
    <button
      type="submit"
      class="flex flex-1 items-center justify-center gap-2 rounded p-2 cursor-pointer bg-[#128494] hover:bg-[#1eff00] duration-700"
    >
      <mat-icon>save</mat-icon>
      <span>Save</span>
    </button>

    <button
      type="button"
      routerLink="/pages/model"
      class="flex flex-1 items-center justify-center gap-2 rounded p-2 cursor-pointer bg-[#128494] hover:bg-[#7D1416] hover:text-white duration-700"
    >
      <mat-icon>cancel</mat-icon>
      <span>Cancel</span>
    </button>
  </div>
</form>
