<form
  *ngIf="form"
  [formGroup]="form"
  (submit)="operate()"
  class="relative flex flex-col gap-3 w-full p-3 rounded bg-[#034561]"
>
  <input type="hidden" formControlName="id_user" />

  <label for="username" class="text-white font-extrabold">Username</label>
  <input
    matInput
    placeholder="Username"
    formControlName="username"
    class="outline-none w-full rounded p-2 bg-[#128494] focus:text-white"
  />

  <label for="password" class="text-white font-extrabold">Password</label>
  <input
    matInput
    type="password"
    placeholder="Password"
    formControlName="password"
    class="outline-none w-full rounded p-2 bg-[#128494] focus:text-white"
  />

  <mat-slide-toggle formControlName="enabled" class="text-white"
    >Enabled</mat-slide-toggle
  >

  <label class="text-white font-extrabold">Roles</label>
  <div formArrayName="roles" class="flex flex-col gap-2">
    <div *ngFor="let role of roles; let i = index">
      <mat-checkbox [formControlName]="i">{{ role.name }}</mat-checkbox>
    </div>
  </div>

  <div class="flex flex-wrap justify-center-safe gap-2 w-full">
    <button
      type="submit"
      [disabled]="form.invalid"
      class="flex flex-1 items-center justify-center gap-2 rounded p-2 cursor-pointer bg-[#128494] hover:bg-[#1eff00] duration-700 disabled:bg-gray-500"
    >
      <mat-icon>save</mat-icon>
      <span>Guardar</span>
    </button>

    <button
      type="button"
      routerLink="/pages/admin/users"
      class="flex flex-1 items-center justify-center gap-2 rounded p-2 cursor-pointer bg-[#128494] hover:bg-[#7D1416] hover:text-white duration-700"
    >
      <mat-icon>cancel</mat-icon>
      <span>Cancelar</span>
    </button>
  </div>
</form>
